

   
    <footer class = "footer">
        <div class="footer-content">
            <img id= "bio-logo" src="./pics/freieren.png" alt ="freieren">
            <p id="bio">Silent Rain <br> <br>
                Through the years, art has been my gentle companion, my passion blooming with every creation.
                <br>
                Now, my heart skips a beat as I open my shop, where my dreams are yours to hold. ♡ 
            </p>

        </div>
     
        
    </footer>
    <p id="copy-rights">All Rights Reserved @Silent Rain</p>

