<div class="header">
    <div class="header-left">
        <a id="sign-up" href="">Sign up</a>
        <a id="discord" href="https://discord.com/users/1007497551907389540" target="_blank">Discord</a>
    </div>

    <div class="header-center">
        <div class="logo-container">
            <img id="logo" src="./pics/freieren.png" alt="freieren">
            <h1 id="title">Silent Rain</h1>
        </div>
        <a class="Register" href="">Register</a>
    </div>

    <div class="header-right">
        
        
        <svg id="search-icon" class="svg-icon icon-search" xmlns="http://www.w3.org/2000/svg" width="24" height="29" viewBox="0 0 18 19">
            <path fill-rule="evenodd" fill="currentColor" clip-rule="evenodd" d="M3.12958 3.12959C0.928303 5.33087 0.951992 8.964 3.23268 11.2447C5.51337 13.5254 9.14649 13.5491 11.3478 11.3478C13.549 9.14651 13.5254 5.51338 11.2447 3.23269C8.96398 0.951993 5.33086 0.928305 3.12958 3.12959ZM2.17202 12.3054C-0.671857 9.46147 -0.740487 4.87834 2.06892 2.06893C4.87833 -0.740488 9.46145 -0.671858 12.3053 2.17203C15.1492 5.01591 15.2178 9.59904 12.4084 12.4085C9.59902 15.2179 5.0159 15.1492 2.17202 12.3054ZM16.4655 17.589L12.5285 13.589L13.5976 12.5368L17.5346 16.5368L16.4655 17.589Z" transform="translate(0 0.5)"></path>
        </svg>

        <div id="shopping-cart">
            <img id="search-icon" src="./pics/shopping-cart.png" alt="shopping-cart"> 
        </div>
        
        <div class="dropdown">
            <img id="bunnyPfp" src="./pics/bunnyPfp.jpg" alt="pfp">
            <div class="content">
                <a href="profile">Profile</a>
                <a href="setting">Setting</a>
                <a href="logout">Logout</a>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------------------------------------------------------------------------> 
    
</div>
    <div class = "AnimeBckgText">
        <img id = "animeGirls" src="./pics/long.jpg" alt="blossom">
        <div class="overlay-text">
            <h1>Silent Rain</h1>
            <a id="click-here" class="button">
                <p>Click Here</p>
            </a>
                
        </div>
        <div class="text-wrapper">
           
        </div>
    </div>

    <div class="gif-wrapper">
        <div class="gif-container">
            <img class="heart-size" src="./pics/blueHeart.gif" alt="Blue Heart">
            <img class="heart-size" src="./pics/yellow.gif" alt="Yellow Heart">
            <img class="heart-size" src="./pics/pinkHeart.gif" alt="Pink Heart">
            <img class="heart-size" src="./pics/blueHeart.gif" alt="Blue Heart">
            <img class="heart-size" src="./pics/yellow.gif" alt="Yellow Heart">
            <img class="heart-size" src="./pics/pinkHeart.gif" alt="Pink Heart">
            <!-- Repeat the set to ensure smooth looping -->
            <img class="heart-size" src="./pics/blueHeart.gif" alt="Blue Heart">
            <img class="heart-size" src="./pics/yellow.gif" alt="Yellow Heart">
            <img class="heart-size" src="./pics/pinkHeart.gif" alt="Pink Heart">
            <img class="heart-size" src="./pics/blueHeart.gif" alt="Blue Heart">
            <img class="heart-size" src="./pics/yellow.gif" alt="Yellow Heart">
            <img class="heart-size" src="./pics/pinkHeart.gif" alt="Pink Heart">
        </div>
    </div>
   