:root {
    --text-color: white;
    --color: rgb(214, 157, 252);

    font-family: "Quicksand", sans-serif;;
}
body {
    margin: 0;
    /* margin-right: 55px; */
    /* width: 100%; */
    padding: 0;
    /* background-color: brown; */
    min-height: 100vh  /* Ensure the body takes up at least the full viewport height */
}

.header {
    /* margin: 0;
    padding: 0; */
    padding: 10px 5%;
    /* font-family: Arial, sans-serif; */
    color: var(--color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    /* background-color: blue; */
}

#sign-up {
    margin: 10px;
    height: 100%;
    
    
}
#discord {
    margin: 10px;
    height: 100%;
    
    

}
#sign-up:hover,
#discord:hover, #click-here:hover {
    text-decoration: underline;
    cursor: pointer;

}
#title {
    margin: 0;
    position: relative;
    left: 50%;
    transform: translateX(15%);
}

#search-icon {
    margin-left: auto;
    
}

#shopping-cart {
    height: 22.75px;
    margin-right: 10px;
    
    /* left: 100%; */
    /* top: 10%; */
    /* float: right; */
    /* align-items: center;
    justify-content: center; */
    display: flex;
    filter: brightness(90%) saturate(100%) invert(84%) sepia(45%) saturate(630%) hue-rotate(255deg) brightness(105%) contrast(95%);


    padding-left: 15px;
    align-items: right;
    justify-content: space-between;
}
#bunnyPfp {
    height: 29px;
    cursor: pointer;
}

#search-icon:hover, #shopping-cart:hover {
    cursor: pointer;
}
.AnimeBckgText {
    
    position: relative;
    width: 100%; /* Ensure it takes up the full width */
   
    margin: 0 auto; /* Center the container */
    background-color: var(--color);

    
}
#logo {
    width: 100px;
    height: auto;
    
    justify-content: center;
    align-content: center;
    display: block;
    position: absolute;
    object-fit: contain;
   
}

.logo-container {
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    left: 43%;
    /* This allows the container to take up available space */
    max-width: 85%;
}

#animeGirls {
    width: 100%;
    height: 300px; /* Adjust as needed */
}

.overlay-text {
    /* background-color: red; */
    position: absolute;
    top: 20%;
    left: 45%;
    /* top: 20px; This bad because every monitor has different amounts of pixels so percentage is superior
    left: 965px; */ 
  
    color: var(--text-color);
  
    text-align: center;
   
    display: flex;
    /* flex-direction: row-reverse; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    font-weight: 900;
}

.overlay-text h1 {
    
    margin-bottom: 10px; /* Adds space between the h1 and p */
    
}

#click-here {
    align-items: center;
    justify-content: center;
    display: flex;
}

.button {
    font-size: 18px; /* Adjust size as needed */
    margin: 0;
    height: 40px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 30px;
    background-color: var(--color);
    color: var(--text-color);
    text-decoration: none; /*this removes the underline that is defaulted with the anchor a */

    
}

.button:hover {
    background-color: #f06262; /* Darker shade on hover */
}

.button:active {
    /* background-color: rgb(249, 198, 198); */
    background-color: white;
    color: black;
    /* font-style: none; */
    text-shadow: none;
}


.image-grid {

    display: grid;
    /* grid-template-columns: repeat(4,300px); */
    grid-template-columns: repeat(auto-fit, minmax(400px,400px));
    /* padding-bottom: 200px; */
    /* padding-left: 40px;
    padding-right: 50px; */
    padding: 80px 20px 100px 80px;
    /* grid-template-rows: 150px 200px; */
    margin-right: 50px ;
    margin-left: 50;
    gap: 20px;
    place-items: center;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
    transform: scale(1);                                    /* able to scale opacity, and scaling the size of the image */
    /* background-color: black; */
}

.image-grid img {
    width: 250px; /* Set a fixed width ||  The height: 200px combined with object-fit: cover is causing the images to maintain their aspect ratio while filling a 200px height container. */
    height: 250px;/* Set a fixed height */
    padding-right: 5px;
    padding-bottom: 8px;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
    object-fit: cover; /* this is op, it makes the image good quality changes the scene a bit */
    border-radius: 30px;
}

.image-grid p {
    
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: var(--color);
    

}
.image-grid img:hover {
    transform: scale(1.1);
    /* border-radius: 0; */
    
    
    /* width: 280px;
    height: 280px; */
    /* transition-delay: 5; */
    /* content: url('./pics/blossom.jpg'); */
} 
/* These are all the individiual Photos for slide show presentations -------------------------------------------------------------------------------------------------------------------------------- */

                                                img[src='./pics/blossom.jpg']:hover {  /* blossom => anime girl*/

                                                    content: url('./pics/animegirl.jpg');
                                                }
                                                img[src='./pics/animegirl.jpg']:hover {     /* animegirl => long*/
                                                    content: url('./pics/long.jpg');
                                                }
                                                img[src='./pics/bunny.jpg']:hover{ 
                                                    content: url('./pics/stretch.jpg')       /* bunny => stretch*/
                                                }
                                                img[src='./pics/stretch.jpg']:hover {
                                                    content: url('./pics/bunny.jpg');       /* stretch => bunny*/
                                                }
                                                img[src='./pics/long.jpg']:hover{
                                                    content: url('./pics/stretch.jpg');     /* long => stretch*/
                                                }
/* These are all the individiual Photos for slide show presentations---------------------------------------------------------------------------------------------------------------------------------- */
.page-numbers, #one, #two, #next{
    color: var(--text-color);
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
#one, #two, #next {
    margin: 0;
    padding: 10px 15px 10px 15px;        /*top, right, bottom, left */
    color: black;
    height: 3px;
    
}


#next:hover, #one:hover, #two:hover, #next:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--text-color);
    /* background-color: black; */
    /* background-color: transparent; */
    

}
#next:hover, #one:hover, #two:hover {
    text-decoration: underline;
    cursor: pointer;
    color: white;
    background-color: var(--color)
    /* background-color: transparent; */
    
}
#next:active, #one:active, #two:active{
    background-color: rgb(248, 194, 194);
    color: var(--text-color)
   
}
.footer {
    
    color: var(--text-color);
    /* margin-right: 0px; */
    padding: 60px 40px;
    display: flex;
    /* margin-right: 50px; */
    align-items: center;
    justify-content: center;
    background-color: var(--color);
    /* padding: 150px 40px 60px 80px; */
   
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
}
#bio-logo {
    width: 200px;
    height: auto;
    object-fit: contain;
    margin-right: 0px;
}
#bio {
    font-size: 18px;
    margin-right: 50px;
    flex: 1;
}

#copy-rights {
    /* color: blue; */
    background-color: black;
    padding: 0;
    padding-top: 5px;
    margin: 0;
    color: var(--text-color);
    padding-bottom: 8px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
    padding-bottom: 15px;
    /* position: absolute; */
}
/* 
 Media query for smaller screens 
@media (max-width: 768px) {
    .image-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    
    .image-grid img {
        height: 150px;
    }
} */

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar {
    background: none;
}
::-webkit-scrollbar-thumb {
    background: var(--color);
    border-radius: 40px;
    margin-right: 20px;
    
    
    
}
/* for firefox */
/* * {
    scrollbar-width: thin;
    scrollbar-color: #8a3280;
} */


